- if (backButton)
  p
    a.btn.btn-default(href='/documents')
      i.glyphicon.glyphicon-chevron-left
      | &nbsp;
      =gettext('Back')
.list-group-item.doc
  .row
    .col-md-7
      .list-group-item-text
        h3
          .label.label-default=doc.country 
          | &nbsp;
          =gettext(doc.type)
        p.lead=doc.title
        - if (doc.available)
          h4.text-success
            i.glyphicon.glyphicon-star
            | &nbsp;
            =gettext('Publicly Available')
        - else
          h4.text-danger
            i.glyphicon.glyphicon-lock
            | &nbsp;
            =gettext('Not Publicly Available')
        p
          - if (doc.approved)
            i.text-success.glyphicon.glyphicon-thumbs-up
            | &nbsp;
            =gettext("Approved")
          - else if (doc.approved === false)
            i.text-danger.glyphicon.glyphicon-thumbs-down
            | &nbsp;
            =gettext("Rejected")
          - else
            i.text-info.glyphicon.glyphicon-question-sign
            | &nbsp;
            =gettext("Unapproved")
        - if (user.admin)
          - if (doc.approved !== true)
            form.btn-form(action="/documents/#{doc._id}/approve", method="POST")
              button.btn.btn-default
                .text-success
                  i.glyphicon.glyphicon-thumbs-up
                  | &nbsp;
                  =gettext("Approve")
          - if (doc.approved !== false)
            form.btn-form(action="/documents/#{doc._id}/reject", method="POST")
              button.btn.btn-default
                .text-danger
                  i.glyphicon.glyphicon-thumbs-down
                  | &nbsp;
                  =gettext("Reject")
          a.btn.btn-default(href='/documents/#{doc._id}/edit')=gettext("Edit")
        - else
          .btn-group
            a.btn.btn-default(href='/documents/#{doc._id}/uploads')=gettext("Upload Files")
            a.btn.btn-default(href='/documents/#{doc._id}/edit')=gettext("Edit")
    .col-md-5
      p
        - if (doc.date_published)
          i.glyphicon.glyphicon-bullhorn
          | &nbsp;
          b=gettext('Published')
          | &nbsp;
          =doc.date_published
          | &nbsp;
        - if (doc.date_received)
          i.glyphicon.glyphicon-save
          | &nbsp;
          b=gettext('Received')
          | &nbsp;
          =doc.date_received
      p
        - if (doc.softcopy)
          i.glyphicon.glyphicon-cloud-upload
          | &nbsp;
          b=gettext('Softcopy attached')
          | &nbsp;
        - if (doc.scanned)
          i.glyphicon.glyphicon-book
          | &nbsp;
          b=gettext('Scan attached')
          | &nbsp;
      - if (doc.uploads && doc.uploads.length > 0)
        ul.list-inline
          li
            label=gettext("Uploaded files")
          - for upload in doc.uploads 
            li
              a(href='/uploads/' + upload.filename, target="_blank")=upload.name
              - if (user.admin && doc.approved)
                | &nbsp;
                div.g-savetodrive(data-src="/uploads/" + upload.filename, data-filename=upload.name, data-sitename=gettext("Aquarium"))
      p
        - if (doc.url)
          a(href=doc.url, target="_blank")
            - if (doc.location)
              =gettext(doc.location)
              | &nbsp;
            i=doc.location_detail
            | &nbsp;
            i.glyphicon.glyphicon-new-window
        - else
          - if (doc.location)
            =gettext(doc.location)
            | &nbsp;
          i=doc.location_detail
        - if (doc.comments)
          blockquote
            p=doc.comments
