.list-group-item(id="site-#{i}")
  .row
    .col-md-3
      - var search = site.search_dates
      - var today = moment().startOf('day')
      - var search_not_started = (search && search.start && (moment(search.start) >= today))
      h4=gettext("Document Title")
      h5=site.title
      - if (!search || search_not_started)
        form.btn-form(method='POST', action='/tracking/#{site._id}/remove')
          button.btn-xs.btn.btn-danger(type='submit')
            i.glyphicon.glyphicon-trash
            | &nbsp;
            =gettext("Delete")
    .col-md-3
      h4=gettext("Document Type")
      h5=site.type
    .col-md-3
      h4=gettext("URL")
      p 
        a(href=site.url, target="_blank")=site.url
      p #{gettext('Last modified')} #{moment(site.last_modified).format('HH:mm DD MMM YYYY')}
    .col-md-3
      h4=gettext("Search Dates")
      .list-group
        .list-group-item
          h5=gettext("Date to Start Search")
          - if (search && search.start)
            - if (search_not_started)
              form.form-inline.btn-form(method='POST', action='/tracking/#{site._id}/delete-start')
                input(type="hidden", name="index", value=i)
                button.btn.btn-default.btn-xs(type="submit")
                  i.glyphicon.glyphicon-trash
              | &nbsp;
              =moment(search.start).format('DD MMM YYYY')
            - else
              .text-muted=moment(search.start).format('DD MMM YYYY')
            h5=gettext("Date to End Search")
            - if (search.end)
              - if (moment(search.end) >= today)
                form.form-inline.btn-form(method='POST', action='/tracking/#{site._id}/delete-end')
                  input(type="hidden", name="index", value=i)
                  button.btn.btn-default.btn-xs(type="submit")
                    i.glyphicon.glyphicon-trash
                | &nbsp;
                =moment(search.end).format('DD MMM YYYY')
              - else
                .text-muted=moment(search.end).format('DD MMM YYYY')
            - else
              form.form-inline.picker(method="POST", action='/tracking/#{site._id}/add-end')
                .input-group
                  input(type="hidden", name="index", value=i)
                  input.form-control(name="date",
                    data-provide='datepicker-inline',
                    data-date-autoclose='true',
                    data-date-format="dd M yyyy",
                    data-start="#{moment(search.start).format('YYYY-MM-DD')}")
                  span.input-group-btn.add-date
                    button.btn.btn-default(disabled=true, type="submit")
                      i.glyphicon.glyphicon-plus
          - else
            form.form-inline.picker(method='POST', action='/tracking/#{site._id}/add-start')
              .input-group
                input(type="hidden", name="index", value=i)
                input.form-control(name="date",
                  data-provide='datepicker-inline',
                  data-date-format="dd M yyyy",
                  data-date-autoclose='true')
                span.input-group-btn.add-date
                  button.btn.btn-default(disabled=true, type="submit")
                    i.glyphicon.glyphicon-plus
