extends layout

block content
  .container
    .row
      .col-md-12
        .alert.alert-info=format('There are %(users)s users tracking %(pages)s pages.', { users: userCount, pages: pageCount })
        p
          a.btn.btn-default.btn-block(href='/researchers')=gettext("Manage Researchers")
    .row
      .col-md-12
        .alert.alert-info=format('There are %(unapproveds)s unapproved documents out of a total of %(total)s.', { unapproveds: unapprovedCount, total: documentCount })
        p
          a.btn.btn-default.btn-block(href='/documents')=gettext("Review Submissions")
    .row
      .col-md-12
        p
          a.btn.btn-primary.btn-block(href='/export')=gettext("Export To CSV")
