extends layout

block content
  .container
    .row
      .panel.panel-primary
        .panel-heading 
          h2.panel-title=gettext('Documents')
        .list-group
          - each doc in docs
            .list-group-item
              .row
                .col-md-6
                  h3.list-group-item-heading
                    =doc.title
                    |  (#{gettext(doc.type)})
                  .list-group-item-text
                    - if (doc.available)
                      p.lead.text-success
                        i.glyphicon.glyphicon-star
                        | &nbsp;
                        =gettext('Publicly Available')
                    - else
                      p.lead.text-danger
                        i.glyphicon.glyphicon-lock
                        | &nbsp;
                        =gettext('Not Publicly Available')
                .col-md-6
                  p
                    i.glyphicon.glyphicon-bullhorn
                    | &nbsp;
                    b=gettext('Published')
                    | &nbsp;
                    =doc.date_published
                    | &nbsp;
                    i.glyphicon.glyphicon-save
                    | &nbsp;
                    b=gettext('Received')
                    | &nbsp;
                    =doc.date_published
                  p
                    - if (doc.softcopy)
                      i.glyphicon.glyphicon-cloud-upload
                      | &nbsp;
                      b=gettext('Softcopy attached')
                      | &nbsp;
                    - if (doc.scanned)
                      i.glyphicon.glyphicon-book
                      | &nbsp;
                      b=gettext('Scan attached')
                      | &nbsp;
                  p
                    - if (doc.url)
                      a(href=doc.url, target="_blank")
                        =gettext(doc.location && doc.location.category)
                        | &nbsp;
                        i=doc.location && doc.location.detail
                        | &nbsp;
                        i.glyphicon.glyphicon-new-window
                    - else
                      =gettext(doc.location && doc.location.category)
                      | &nbsp;
                      i=doc.location && doc.location.detail
              - if (doc.comments)
                .row
                  .col-md-12
                    blockquote
                      p=doc.comments
              .btn-group
                - if (user.admin)
                  button.btn.btn-default
                    .text-success
                      i.glyphicon.glyphicon-thumbs-up
                      | &nbsp;
                      =gettext("Approve")
                  button.btn.btn-default
                    .text-danger
                      i.glyphicon.glyphicon-thumbs-down
                      | &nbsp;
                      =gettext("Reject")
                a.btn.btn-default(href='/documents/#{doc._id}')=gettext("Edit")
        - if (!user.admin)
          .panel-footer
            .row
              .col-md-12
                a.btn.btn-default(href='/documents/new')=gettext("Add Document")

