extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form', action='/documents/#{doc._id}', method='POST')
          .form-group
            label=gettext('Document Type')
            select.form-control(name="type")
              - for type in ["Pre-Budget Statement", "Executive's Budget Proposal", "Enacted Budget", "Citizen's Budget", "In-Year Report", "Mid-year Review", "Year-End Report", "Audit Report"]
                option(selected=(doc.type == type), value=type)=gettext(type)
          .form-group
            label=gettext("Document Title")
            input.form-control(name="title", type="text", placeholder=gettext("Document Title"), autocomplete="off", value=doc.title)
          .form-group
            label=gettext("Publicly Available")
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="available")
                button(type="button", value="yes", class=(doc.available ? 'active' : '')).btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no", class=(!doc.available ? 'active' : '')).btn.btn-default
                  =gettext("No")
              input(type="hidden", value=(doc.available ? 'yes' : 'no'), name="available")
          .form-group
            label=gettext("Include In Stats For Year")
            - var year = new Date().getFullYear()
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="year")
                button(type="button", value=(year-1), class=(doc.year === year - 1 ? 'active' : '')).btn.btn-default
                  =year - 1
                button(type="button", value=(year), class=(doc.year === year ? 'active' : '')).btn.btn-default
                  =year
                button(type="button", value=(year+1), class=(doc.year === year + 1 ? 'active' : '')).btn.btn-default
                  =year + 1
              input(type="hidden", value=doc.year, name="year")
          .form-group
            label=gettext("Location")
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="location")
                - for cat in ["Website", "Government Office", "Public Library", "Other"]
                  button(type="button", value=cat, class=(doc.location === cat ? 'active' : '')).btn.btn-default
                    =gettext(cat)
              input(type="hidden", value=doc.location, name="location")
          .form-group
            - var detail = doc.location && doc.location.detail;
            input.form-control(type="text", name='location_detail', placeholder=gettext("Details of location"), autocomplete="off", value=detail)
          .form-group
            label=gettext("Web Link")
            - if (Array.isArray(doc.url))
              - each url, i in doc.url
                input.form-control(type="text", name='url', autocomplete="off", value=url)
            - else
              input.form-control(type="text", name='url', placeholder='http://example.com/document.htm', autocomplete="off", value=doc.url)
            a(href="#" data-name='url').add-input
              i.glyphicon.glyphicon-plus-sign
              | &nbsp;
              =gettext('Add another link')
          .form-group
            label=gettext("Date of Publication")
            input.form-control(type="text", name='date_published', placeholder=gettext('1 Jan 2014'), autocomplete="off", value=doc.date_published)
          .form-group
            label=gettext("Date Received")
            input.form-control(type="text", name='date_received', placeholder=gettext('1 Jan 2014'), autocomplete="off", value=doc.date_received)
          .form-group
            label=gettext("Soft copy attached")
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="softcopy")
                button(type="button", value="yes", class=(doc.softcopy ? 'active' : '')).btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no", class=(!doc.softcopy ? 'active' : '')).btn.btn-default
                  =gettext("No")
              input(type="hidden", value=(doc.softcopy ? 'yes' : 'no'), name="softcopy")
          .form-group
            label=gettext("Scanned First/Last Page Attached")
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="scanned")
                button(type="button", value="yes", class=(doc.scanned ? 'active' : '')).btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no", class=(!doc.scanned ? 'active' : '')).btn.btn-default
                  =gettext("No")
              input(type="hidden", value=(doc.scanned ? 'yes' : 'no'), name="scanned")
          .form-group
            label=gettext("Comments")
            .form-group
              textarea.form-control(name="comments")=doc.comments
            
          button.btn.btn-primary(type='submit')=gettext("Update")
          a.btn.btn-link(href='/documents/#{doc._id}')=gettext("Cancel")
