extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form', action='/documents/#{doc._id}', method='POST')
          .form-group
            label=gettext('Document Type')
            select.form-control(name="type")
              - for type in ["Pre-Budget Statement", "Executive’s Budget Proposal", "Enacted Budget", "Citizen's Budget", "In-Year Report", "Mid-year Review", "Year-End Report", "Audit Report"]
                option(selected=(doc.type == type), value=type)=gettext(type)
          .form-group
            label=gettext("Document Title")
            input.form-control(name="title", type="text", placeholder=gettext("Document Title"), autocomplete="off", value=doc.title)
          .form-group
            label=gettext("Publicly Available")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default(class=(doc.available ? 'active' : ''))
                  input(type="radio", name="available", value="yes", checked=doc.available)
                  =gettext("Yes")
                label.btn.btn-default(class=(doc.available ? '' : 'active'))
                  input(type="radio", name="available", value="no", checked=!doc.available)
                  =gettext("No")
          .form-group
            label=gettext("Include In Stats For Year")
            - var year = parseInt(doc.year) || new Date().getFullYear()
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default(class = doc.year === year - 1 ? 'active' : '')
                  input(type="radio", name="year", value=(year - 1), checked=(doc.year === year - 1))
                  =year - 1
                label.btn.btn-default(class = doc.year === year ? 'active' : '')
                  input(type="radio", name="year", value=year, checked=(doc.year === year))
                  =year
                label.btn.btn-default(class = doc.year === year + 1 ? 'active' : '')
                  input(type="radio", name="year", value=(year + 1), checked=(doc.year === year + 1))
                  =year + 1
          .form-group
            label=gettext("Location")
            div
              .btn-group(data-toggle="buttons")
                - var category = doc.location && doc.location.category;
                - for cat in ["Website", "Government Office", "Public Library", "Other"]
                  label.btn.btn-default(class=(category === cat ? 'active' : ''))
                    input(type="radio", name="location", value=cat, checked=(cat == category))
                    =gettext(cat)
          .form-group
            - var detail = doc.location && doc.location.detail;
            input.form-control(type="text", name='location_detail', placeholder=gettext("Details of location"), autocomplete="off", value=detail)
          .form-group
            label=gettext("Web Link")
            input.form-control(type="text", name='url', placeholder='http://example.com/document.htm', autocomplete="off", value=doc.url)
          .form-group
            label=gettext("Date of Publication")
            input.form-control(type="text", name='date_published', placeholder=gettext('1 Jan 2014'), autocomplete="off", value=doc.date_published)
          .form-group
            label=gettext("Date Received")
            input.form-control(type="text", name='date_received', placeholder=gettext('1 Jan 2014'), autocomplete="off", value=doc.date_received)
          .form-group
            label=gettext("Soft copy attached")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default(class=(doc.softcopy ? 'active' : ''))
                  input(type="radio", name="softcopy", value="yes", checked=doc.softcopy)
                  =gettext("Yes")
                label.btn.btn-default(class=(!doc.softcopy ? 'active' : ''))
                  input(type="radio", name="softcopy", value="no", checked=!doc.softcopy)
                  =gettext("No")
          .form-group
            label=gettext("Scanned First/Last Page Attached")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default(class=(doc.scanned ? 'active' : ''))
                  input(type="radio", name="scanned", value="yes", checked=doc.scanned)
                  =gettext("Yes")
                label.btn.btn-default(class=(!doc.scanned ? 'active' : ''))
                  input(type="radio", name="scanned", value="no", checked=!doc.scanned)
                  =gettext("No")
          .form-group
            label=gettext("Comments")
            .form-group
              textarea.form-control(name="comments")=doc.comments
            
          button.btn.btn-primary(type='submit')=gettext("Update")
          a.btn.btn-link(href='/documents/#{doc._id}')=gettext("Cancel")
