doctype 5
html
  head
    title=gettext(title)
    link(rel='stylesheet', href='/css/style.css')
  body(class=cls || '')
    header.navbar.navbar-inverse.navbar-fixed-top(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only=gettext('Toggle navigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')=gettext('Aquarium')
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-left(role='navigation')
          ul.nav.navbar-nav
            - if (user) 
              - if (user.admin)
                li
                  a(href='/dashboard')=gettext('Dashboard')
              - else
                li
                  a(href='/documents')=gettext('Documents')
                li
                  a(href='/sites')=gettext('Sites')
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right
          ul.nav.navbar-nav
            - if (user) 
              li
                button.btn.navbar-btn.btn-link.disabled=user.username
              li
                form.navbar-form(method='POST', action='/logout')
                  button.btn.btn-link(type="submit", title=gettext('Logout'))
                    i.glyphicon.glyphicon-log-out
            - else if (!isLogin)
              li
                a(href='/login')=gettext('Login')
    block content
    script(src="/js/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.js")
