doctype 5
html
  head
    title=gettext(title)
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://apis.google.com/js/plusone.js")
  body(class=cls || '')
    header.navbar.navbar-inverse.navbar-fixed-top(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only=gettext('Toggle navigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')=gettext('Open Budget Tracker')
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-left(role='navigation')
          ul.nav.navbar-nav
            - if (currentUser) 
              - if (currentUser.admin)
                li
                  a(href='/dashboard')=gettext('Dashboard')
                li
                  a(href='/documents')=gettext('Document Submissions')
                li
                  a(href='/researchers')=gettext('Researchers')
              - else
                li
                  a(href='/tracking')=gettext('Reference Calendar')
                li
                  a(href='/documents')=gettext('Submit Document')
              li
                a(href='/reports')=gettext('Monthly Reports')
            li
              a(href='/overview')=gettext('Overview')
        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right
          ul.nav.navbar-nav
            - if (currentUser) 
              li
                a.btn.btn-link(href='/users/#{currentUser._id}')=currentUser.username
              li
                form.navbar-form(method='POST', action='/logout')
                  button.btn.btn-link(type="submit", title=gettext('Logout'))
                    i.glyphicon.glyphicon-log-out
            - else if (!isLogin)
              a.navbar-btn.btn.btn-primary(href='/login')=gettext('Login')
    block content
    script(src="/js/aquarium.js")
