extends layout

block content
  .container
    .row
      .col-md-12
        form#newdoc(role='form', action='/documents', method='POST')
          .form-group
            label=gettext('Document Type')
            select.form-control(name="type")
              option(value="Pre-Budget Statement")=gettext("Pre-Budget Statement")
              option(value="Executive's Budget Proposal")=gettext("Executive's Budget Proposal")
              option(value="Enacted Budget")=gettext("Enacted Budget")
              option(value="Citizens Budget")=gettext("Citizens Budget")
              option(value="In-Year Report")=gettext("In-Year Report")
              option(value="Mid-Year Review")=gettext("Mid-Year Review")
              option(value="Year-End Report")=gettext("Year-End Report")
              option(value="Audit Report")=gettext("Audit Report")
          .form-group
            label=gettext("Document Title")
            input.form-control(name="title", type="text", placeholder=gettext("Document Title"), autofocus="true", autocomplete="off")
          .form-group
            label=gettext("Publicly Available")
            div
              .btn-group(data-toggle="buttons-radio", data-toggle-target="available")
                button(type="button", value="yes").btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no").btn.btn-default.active
                  =gettext("No")
              input(type="hidden", value="no", name="available")
          .form-group
            label=gettext("Produced for Internal Use Only")
            div
              .btn-group(data-toggle="buttons-radio" data-toggle-target="internal")
                button(type="button", value="yes").btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no").btn.btn-default.active
                  =gettext("No")
              input(type="hidden", value="no", name="internal")
          .form-group
            label=gettext("Include the Fiscal Year the Document Refers to")
            - var year = new Date().getFullYear()
            select.form-control(name="year")
              option(value=(year - 2))
                =year - 2
              option(value=((year - 2)+"/"+(year - 1)))
                =(year - 2)+"/"+(year - 1)
              option(value=(year - 1))
                =year - 1
              option(value=((year - 1)+"/"+year))
                =(year - 1)+"/"+year
              option(value=year)
                =year
              option(value=(year+"/"+(year + 1)))
                =year+"/"+(year + 1)
              option(value=(year + 1))
                =year + 1
              option(value=((year + 1)+"/"+(year + 2)))
                =(year + 1)+"/"+(year + 2)
              option(value=(year + 2))
                =year + 2
          .form-group
            label=gettext("Location")
            div
              .btn-group(data-toggle="buttons-radio", data-toggle-target="location")
                button(type="button", value="Website").btn.btn-default
                  =gettext("Website")
                button(type="button", value="Government Office").btn.btn-default
                  =gettext("Government Office")
                button(type="button", value="Public Library").btn.btn-default
                  =gettext("Public Library")
                button(type="button", value="Other").btn.btn-default
                  =gettext("Other")
              input(type="hidden", value="", name="location")
          .form-group
            input.form-control(type="text", name='location_detail', placeholder=gettext("Details of location"), autocomplete="off")
          .form-group
            label=gettext("Web Link")
            input.form-control(type="text", name='url', placeholder='http://example.com/document.htm', autocomplete="off")
            a(href="#" data-name='url').add-input
              i.glyphicon.glyphicon-plus-sign
              | &nbsp;
              =gettext('Add another link')
          .form-group
            label=gettext("Date of Publication")
            input.form-control(type="text",
              name='date_published',
              data-provide='datepicker-inline',
              data-date-autoclose='true',
              data-date-format="dd M yyyy",
              placeholder="01 Jan 2014",
              autocomplete="off")
          .form-group
            label=gettext("Date Received or Viewed")
            input.form-control(type="text",
              name='date_received',
              data-provide='datepicker-inline',
              data-date-autoclose='true',
              data-date-format="dd M yyyy",
              placeholder="01 Jan 2014",
              autocomplete="off")
          .form-group
            p.help-block=gettext('Upload attachments after adding the document')
            label=gettext("Soft copy attached")
            div
              .btn-group(data-toggle="buttons-radio", data-toggle-target="softcopy")
                button(type="button", value="yes").btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no").btn.btn-default.active
                  =gettext("No")
              input(type="hidden", value="no", name="softcopy")
          .form-group
            label=gettext("Scanned First/Last Page Attached")
            div
              .btn-group(data-toggle="buttons-radio", data-toggle-target="scanned")
                button(type="button", value="yes").btn.btn-default
                  =gettext("Yes")
                button(type="button", value="no").btn.btn-default.active
                  =gettext("No")
              input(type="hidden", value="no", name="scanned")
          .form-group
            label=gettext("Comments")
            .form-group
              textarea.form-control(name="comments")
            
          button.btn.btn-primary(type='submit', disabled='disabled')=gettext("Add")
          a.btn.btn-link(href='/documents')=gettext("Cancel")
