extends layout

block content
  .container
    .row
      .col-md-12
        form#newdoc(role='form', action='/documents', method='POST')
          .form-group
            label=gettext('Document Type')
            select.form-control(name="type")
              option(value="Pre-Budget Statement")=gettext("Pre-Budget Statement")
              option(value="Executive’s Budget Proposal")=gettext("Executive's Budget Proposal")
              option(value="Enacted Budget")=gettext("Enacted Budget")
              option(value="Citizen's Budget")=gettext("Citizen's Budget")
              option(value="In-Year Report")=gettext("In-Year Report")
              option(value="Mid-year Review")=gettext("Mid-year Review")
              option(value="Year-End Report")=gettext("Year-End Report")
              option(value="Audit Report")=gettext("Audit Report")
          .form-group
            label=gettext("Document Title")
            input.form-control(name="title", type="text", placeholder=gettext("Document Title"), autofocus="true", autocomplete="off")
          .form-group
            label=gettext("Publicly Available")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio", name="available", value="yes")
                  =gettext("Yes")
                label.btn.btn-default.active
                  input(type="radio", name="available", value="no", checked=true)
                  =gettext("No")
          .form-group
            label=gettext("Include the Fiscal Year the Document Refers to")
            - var year = new Date().getFullYear()
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio", name="year", value=(year - 1))
                  =year - 1
                label.btn.btn-default.active
                  input(type="radio", name="year", value=year, checked=true)
                  =year
                label.btn.btn-default
                  input(type="radio", name="year", value=(year + 1))
                  =year + 1
          .form-group
            label=gettext("Location")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio", name="location", value="Website")
                  =gettext("Website")
                label.btn.btn-default
                  input(type="radio", name="location", value="Government Office")
                  =gettext("Government Office")
                label.btn.btn-default
                  input(type="radio", name="location", value="Public Library")
                  =gettext("Public Library")
                label.btn.btn-default
                  input(type="radio", name="location", value="Other")
                  =gettext("Other")
          .form-group
            input.form-control(type="text", name='location_detail', placeholder=gettext("Details of location"), autocomplete="off")
          .form-group
            label=gettext("Web Link")
            input.form-control(type="text", name='url', placeholder='http://example.com/document.htm', autocomplete="off")
          .form-group
            label=gettext("Date of Publication")
            input.form-control(type="text", name='date_published', placeholder=gettext('1 Jan 2014'), autocomplete="off")
          .form-group
            label=gettext("Date Received or Viewed")
            input.form-control(type="text", name='date_received', placeholder=gettext('1 Jan 2014'), autocomplete="off")
          .form-group
            p.help-block=gettext('Upload attachments after adding the document')
            label=gettext("Soft copy attached")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio", name="softcopy", value="yes")
                  =gettext("Yes")
                label.btn.btn-default.active
                  input(type="radio", name="softcopy", value="no", checked=true)
                  =gettext("No")
          .form-group
            label=gettext("Scanned First/Last Page Attached")
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default
                  input(type="radio", name="scanned", value="yes")
                  =gettext("Yes")
                label.btn.btn-default.active
                  input(type="radio", name="scanned", value="no", checked=true)
                  =gettext("No")
          .form-group
            label=gettext("Comments")
            .form-group
              textarea.form-control(name="comments")
            
          button.btn.btn-primary(type='submit', disabled='disabled')=gettext("Add")
          a.btn.btn-link(href='/documents')=gettext("Cancel")
