extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form', action='/sites', method='POST')
          .form-group
            label=gettext("Document Type")
            select.form-control(name='type')
              option(value="Pre-Budget Statement")=gettext("Pre-Budget Statement")
              option(value="Executive's Budget Proposal")=gettext("Executive's Budget Proposal")
              option(value="Enacted Budget")=gettext("Enacted Budget ")
              option(value="Citizen's Budget")=gettext("Citizen's Budget")
              option(value="In-Year Report")=gettext("In-Year Report")
              option(value="Mid-year Review")=gettext("Mid-year Review")
              option(value="Year-End Report")=gettext("Year-End Report")
              option(value="Audit Report")=gettext("Audit Report")
          .form-group
            label=gettext("Document Title")
            input.form-control(name='title', type='text', placeholder=gettext('Document Title'), autofocus='true', autocomplete='off')
          .form-group
              label=gettext("URL")
              input.form-control(name='url', type='text', placeholder='http://example.com/budget', autocomplete='off')
          button.btn.btn-primary(type='submit')=gettext("Add")
          a.btn.btn-link(href='/sites')=gettext("Cancel")

