extends layout

block content
  .container
    .row
      .table-responsive
        table#overview.table.table-bordered
          thead
            tr
              th(colspan=3)=gettext('Country')
              th=gettext('OBI Score')
              th(title=gettext("Pre-Budget Statement"))=gettext("Pre-Budget Statement")
              th(title=gettext("Executive's Budget Proposal"))=gettext("Executive's Budget Proposal")
              th(title=gettext("Enacted Budget"))=gettext("Enacted Budget")
              th(title=gettext("Citizens Budget"))=gettext("Citizens Budget")
              th(title=gettext("In-Year Reports"))=gettext("In-Year Reports")
              th(title=gettext("Mid-year Review"))=gettext("Mid-year Review")
              th(title=gettext("Year-End Report"))=gettext("Year-End Report")
              th(title=gettext("Audit Report"))=gettext("Audit Report")
          tbody
            - each row in grid
              tr.lead
                td(colspan=3)=gettext(row.country)
                td
                  .score=row.obi_score
                  .year=row.obi_year
                - each cell in row.cells
                  - var state = cell && cell.state
                  td(class=state)
                    - if (state === 'available')
                      i.glyphicon.glyphicon-ok-sign.text-success
                      .year=cell.year
                    - else if (state === 'late')
                      i.glyphicon.glyphicon-time.text-warning
                      .year=cell.year
                    - else
                      i.glyphicon.glyphicon-remove-circle.text-danger
                      .year=cell && cell.year
