extends layout

block content
  .container
    .row
      .col-md-12
        form(role="search", action="/sites")
          .form-group
            .input-group
              input.form-control(name="q", type="text", autofocus=true, autocomplete='off', placeholder=gettext("Search"), value=search)
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading 
            h2.panel-title=gettext('Sites')
          .list-group
            - each site, i in sites
              .list-group-item(id="site-#{i}")
                .row
                  .col-md-4
                    - if (site.active)
                      h4=site.title
                    - else
                      h4.text-muted
                        =site.title
                        | &nbsp;
                        .label.label-default=gettext("Disabled")
                    - if (site.active)
                      form(method='POST', action='/sites/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at)}/disable')
                        .btn-group
                          button.btn.btn-default(disabled=true, title=gettext("Enabled"))
                            i.glyphicon.glyphicon-play
                          button.btn.btn-default(type='submit', title=gettext("Disable"))
                            i.glyphicon.glyphicon-pause
                    - else 
                      form.form-inline(method='POST', action='/sites/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at)}/enable')
                        .btn-group
                          button.btn.btn-default(type='submit', title=gettext("Enable"))
                            i.glyphicon.glyphicon-play
                          button.btn.btn-default(disabled=true, title=gettext("Disabled"))
                            i.glyphicon.glyphicon-pause
                  .col-md-4
                    h4=site.type
                    p 
                      a(href=site.url, target="_blank")=site.url
                    p #{gettext('Last modified')} #{moment(site.last_modified).format('HH:mm DD MMM YYYY')}
                  .col-md-4
                    h4=gettext("Expected Publications")
                    .list-group
                      - for date in (site.publication_dates || [])
                        - if (moment(date) >= moment())
                          .list-group-item=moment(date).format('HH:mm DD MMM YYYY')
                      .list-group-item
                        form.form-inline.picker(method='POST', action='/sites/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at)}/add-date')
                          input(type="hidden", name="index")
                          .input-group
                            input.form-control(name="publication_date", data-provide='datepicker-inline', data-date-autoclose='true')
                            span.input-group-btn
                              button.btn.btn-default(disabled=true, type="submit")
                                i.glyphicon.glyphicon-plus
          .panel-footer
            .row
              .col-md-12
                a.btn.btn-default(href='/sites/new')=gettext('Add Site')
                | &nbsp;
                - if (search)
                  =format("Showing %(count)s of %(total)s sites", { count: sites.length, total: total })
