extends layout

block content
  .container
    .alert.alert-info
      p=gettext("This page is where you save the background information you need to track the eight key budget documents. It corresponds to the “When and Where” chart described in Appendix 1 of") + ' '
        strong=gettext("the Open Budget Survey Tracker Guide.")
      p=gettext("How to do it?")
        ol
          li=gettext("Click on") + ' '
            a(href='/tracking/new')
              strong=gettext("Add New Document")
          li=gettext("Select document type (it will be one of the 8 key budget documents)")
          li=gettext("Provide the title the document has been given in your country")
          li=gettext("If applicable, provide the URL where the document is likely to be posted")
          li=gettext("Click on") + ' '
            strong=gettext("Add")
          li=gettext("Back on the main page, assign expected publication date to it to get reminders when it's due to be released.")
          li=gettext("Repeat steps 1-6 for each document you want to track")
    .row
      .col-md-12
        form(role="search", action="/tracking")
          .form-group
            .input-group
              input.form-control(name="q", type="text", autofocus=true, autocomplete='off', placeholder=gettext("Search"), value=search)
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading 
            h2.panel-title=gettext('Budget Documents')
          .list-group
            - each site, i in sites
              .list-group-item(id="site-#{i}")
                .row
                  .col-md-3
                    h4=gettext("Title")
                    h5=site.title
                    form.btn-form(method='POST', action='/tracking/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at.toISOString())}/remove')
                      button.btn-xs.btn.btn-danger(type='submit')
                        i.glyphicon.glyphicon-trash
                        | &nbsp;
                        =gettext("Delete")
                  .col-md-3
                    h4=gettext("Type")
                    h5=site.type
                  .col-md-3
                    h4=gettext("URL")
                    p 
                      a(href=site.url, target="_blank")=site.url
                    p #{gettext('Last modified')} #{moment(site.last_modified).format('HH:mm DD MMM YYYY')}
                  .col-md-3
                    h4=gettext("Expected Date of Publication")
                    .list-group
                      - for date in (site.publication_dates || [])
                        - if (moment(date) >= moment())
                          .list-group-item
                            form.form-inline.btn-form(method='POST', action='/tracking/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at.toISOString())}/delete-date')
                              input(type="hidden", name="index", value=i)
                              input(type="hidden", name="publication_date", value=date)
                              button.btn.btn-default.btn-xs(type="submit")
                                i.glyphicon.glyphicon-trash
                            | &nbsp;
                            =moment(date).format('DD MMM YYYY')
                      .list-group-item
                        form.form-inline.picker(method='POST', action='/tracking/#{encodeURIComponent(user._id)}/#{encodeURIComponent(site.created_at.toISOString())}/add-date')
                          input(type="hidden", name="index", value=i)
                          .input-group
                            input.form-control(name="publication_date", data-provide='datepicker-inline', data-date-autoclose='true')
                            span.input-group-btn
                              button.btn.btn-default(disabled=true, type="submit")
                                i.glyphicon.glyphicon-plus
          .panel-footer
            .row
              .col-md-12
                a.btn.btn-default(href='/tracking/new')=gettext('Add New Document')
                | &nbsp;
                - if (search)
                  =format("Showing %(count)s of %(total)s documents", { count: sites.length, total: total })
