extends layout

block content
  .container
    .alert.alert-info
      p=gettext("The Reference Calendar is where you will enter and save the background information (i.e., document release dates, URLs, document titles) that you will need to track the publication of the eight key budget documents.")
      p=gettext("How to do it?")
        ol
          li=gettext("Click on") + ' '
            a(href='/tracking/new')
              strong=gettext("Add Document") + '.'
          li=gettext("Select document type (it will be one of the eight key budget documents).")
          li=gettext("Provide the title given to the relevant document in your country.")
          li=gettext("If applicable, provide the URL where the document is likely to be posted. This should not be the link to the specific PDF/word/excel document. It should be the link to the webpage where the document is likely to be posted (e.g., a «Publications» page)")
          li=gettext("Click on") + ' '
            strong=gettext("Add") + '.'
          li=gettext("When you return to the main calendar page, assign the expected publication date of the document you just added so that you will get reminders when it is due to be released.")
          li=gettext("Repeat steps 1-6 for each of the eight key budget documents that you will track.")
    .row
      .col-md-12
        form(role="search", action="/tracking")
          .form-group
            .input-group
              input.form-control(name="q", type="text", autofocus=true, autocomplete='off', placeholder=gettext("Search"), value=search)
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading 
            h2.panel-title=gettext('Budget Documents')
          .panel-footer
            .row
              .col-md-12
            a.btn.btn-default(href='/tracking/new')=gettext('Add Document')
          .list-group
            - each site, i in sites
              include _site
          .panel-footer
            .row
              .col-md-12
                a.btn.btn-default(href='/tracking/new')=gettext('Add Document')
                | &nbsp;
                - if (search)
                  =format("Showing %(count)s of %(total)s documents", { count: sites.length, total: total })
