extends layout

block content
  .container
    .row
      .col-md-12
        form(role='form', action='/users/#{user._id}', method='POST')
          .form-group
            label=gettext('Email')
            input.form-control(name="username", type="email", value=user.username, placeholder="User email")
          .form-group
            label=gettext('Name')
            input.form-control(name="name", type="text", value=user.name, placeholder="User name")
          - if (currentUser.admin)
            .form-group
              label=gettext("Send email")
              div
                .btn-group(data-toggle="buttons")
                  label.btn.btn-default(class=(user.mute ? '' : 'active'))
                    input(type="radio", name="mute", value="yes", checked=user.mute)
                    =gettext("Yes")
                  label.btn.btn-default(class=(user.mute ? 'active' : ''))
                    input(type="radio", name="mute", value="no", checked=!user.mute)
                    =gettext("No")
          - else
            .form-group
              label=gettext('Current password')
              input.form-control(name="current", type="password", placeholder=gettext("Current password"))
          - if (!user.admin || user._id.toString() === currentUser._id.toString())
            .form-group
              label=gettext('Password')
              input.form-control(name="password", type="password", placeholder=gettext("New password"))
            .form-group
              label=gettext('Confirm password')
              input.form-control(name="confirm", type="password", placeholder=gettext("Retype new password"))
          button.btn.btn-primary(type='submit')=gettext("Update")
          a.btn.btn-link(href='/researchers')=gettext("Cancel")
